<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card>
    <br>
    <br>
    <ion-card-subtitle>Esperanza Herrera Faundez</ion-card-subtitle>
    <ion-card-subtitle>espe_herrera@hotmail.com</ion-card-subtitle>
    <br>
    <br>
  </ion-card>
  <br>
  <ion-card>  
    <br>
    <br>
    <ion-card-subtitle>Manuel Llanten</ion-card-subtitle>
    <ion-card-subtitle>mllantenleyton@gmail.com</ion-card-subtitle>
    <br>
    <br>
  </ion-card>
  <br>
  <ion-card>  
      <br>
      <br>
      <ion-card-subtitle>Desarrollo de Aplicaciones Moviles I</ion-card-subtitle>
      <br>
      <br>
    </ion-card>
</ion-content>
