<ion-header>
  <ion-toolbar color="tertiary">
      <ion-title>
          Cinemania 
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/rollo-de-pelicula.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenidos a Cinemania</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
    <ion-list>
     
    </ion-list>
    <ion-button expand="block"  routerLink="/tabs/tab2">Ingresar</ion-button>
</ion-content>
