<ion-header>
  <ion-toolbar color="tertiary">
    <div class="centrado">
      <ion-title>
          Cinemania
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/13060086-vista-frontal-de-un-rollo-de-película-con-una-tira-de-película-delante-de-él-3d-.jpg"/>
      <ion-card-header>
        <ion-card-title>Bienvenidos a Cinemania</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
    <ion-list>
     
    </ion-list>
    <ion-button expand="block"  routerLink="/tabs/tab2">Ingresar</ion-button>
</ion-content>
